<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="full" routerDirection="forward" (click)="goToGame()">Go to games</ion-button>

  <ion-button expand="full" routerDirection="forward" *ngIf="!isAuthenticated" (click)="login()"> Login </ion-button>
  <ion-button expand="full" routerDirection="forward" *ngIf="isAuthenticated" (click)="logout()"> Logout </ion-button>

  <ion-button expand="full" (click)="presentLoading()">{{'PresentLoading' | translate}}  </ion-button>
  
</ion-content>

