<ion-header>
  <ion-toolbar>
    <ion-title>Game</ion-title>

    <ion-buttons slot="start">
      <ion-back-button (click)="goToHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" routerDirection="forward" routerLink="/home"
    >Go to home</ion-button>

  <ion-checkbox color="primary" checked></ion-checkbox>

  

  <ion-list>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime
        display-format="MM/DD/YYYY"
        [(ngModel)]="date"
      ></ion-datetime>
    </ion-item>

    <ion-item *ngFor="let item of todos">
      <ion-label>
        <h3>{{ item.id }}</h3>
        <h3>{{ item.title }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

</ion-content>
