<ion-header>
  <ion-toolbar>
    <ion-title>My Game</ion-title>

    <ion-buttons slot="start">
      <ion-back-button (click)="goToHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <ion-label style="position: fixed; top: 25px; z-index: 999">{{news?.length}} of {{totalItems}} items</ion-label>

  <ion-list>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime
        display-format="MM/DD/YYYY"
        [(ngModel)]="date"
      ></ion-datetime>
    </ion-item>

    <ion-item *ngFor="let item of news">
      <ion-label>
        <h2>{{ item.author }}</h2>
        <h3>{{ item.title }}</h3>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-label style="position: fixed; top: 25px; z-index: 999">{{users?.length}} users</ion-label>

  <ion-card *ngFor="let user of users">
    <ion-item >
      <ion-avatar item-start>
        <ion-img [src]="user.picture.medium"></ion-img>
      </ion-avatar>
      <h2 text.capitalize>{{user.name?.first}} {{user.name?.last}}</h2>
      <ion-card-content>
       {{ user.email}}
      </ion-card-content>
    </ion-item>
  </ion-card>


  <ion-infinite-scroll (ionInfinite)="loadMoreUsers($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
